menu {
	padding: 4px;
}

menubar > menuitem {
	margin: 8px 0;
	padding: 0 6px;
}

menubar menuitem:hover {
	background-color: @selection-background;
	border-radius: 3px;
}

menubar menuitem:hover > label {
	color: @selection-color;
}

menu menuitem {
	padding: 4px 0;
	color: @text;
	border-radius: 3px;
}

menu menuitem label {
	color: @text;
}

menu menuitem:hover {
	background-color: @selection-background;
}

menu menuitem:hover * {
	color: @selection-color;
}

menu menuitem:disabled * {
	color: @text-dark;
}

menuitem check,
menuitem arrow {
	margin: 0 4px;
}
