menubar menuitem {
	padding: 0 6px;
}

menubar menuitem:hover > label {
	color: @accent;
}

menu menuitem {
	padding: 2px 0;
	color: @text;
}

menu menuitem:first-child {
	padding-top: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

menu menuitem:last-child {
	padding-bottom: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

menu menuitem label {
	color: @text;
}

menu menuitem:hover {
	background-color: @selection-background;
}

menu menuitem:hover label {
	color: @selection-color;
}

menu menuitem:hover check {
	color: @selection-color;
}

menu menuitem:disabled label {
	color: @text-dark;
}

menuitem check {
	margin: 0 4px;
}
