menu {
	padding: 4px;
	border-radius: 4px;
}

menuitem {
	padding: 4px 0;
	color: @text;
	border-radius: 4px;
}

menuitem > * {
	color: @text;
}

menuitem > check {
	color: @accent;
}

menuitem:hover {
	background-color: @selection-background;
}

menuitem:hover > * {
	color: @selection-color;
}

menuitem:disabled > * {
	color: @text-dark;
}

menuitem check,
menuitem arrow {
	margin: 0 4px;
}

menubar > menuitem {
	margin: 8px 0;
	padding: 0 6px;
}
