/* VARIABLES */
@import url("colors.css");
@import url("animations.css");

/* CUSTOM THEME */
/* @import url("themes/THEME.css"); */

/* RESET */
@import url("reset.css");

* {
	color: @text;

	font:
		/* General */  600 12px Inter,
		/* Windows */  Segoe UI Semibold, Segoe UI,
		/* Mac */      Helvetica Neue, San Francisco,
		/* Linux */    Ubuntu,
		/* Fallback */ Sans;
	caret-color: @accent;

	transition: opacity 100ms;
}

selection {
	background-color: @selection-background;
	color: @selection-color;
}

/* SECTIONS */
@import url("window.css");
@import url("statusbar.css");
@import url("widgets.css");

@import url("important.css");
