/* VARIABLES */
@import url("colors.css");
@import url("animations.css");

/* CUSTOM THEME */
/* @import url("themes/THEME.css"); */

/* RESET */
@import url("reset.css");

* {
	color: @text;
	font-family:
		Roboto Medium,
		/* Windows */  Segoe UI Semibold, Segoe UI,
		/* Linux */    Ubuntu,
		/* Mac */      Helvetica Neue, San Francisco,
		/* Fallback */ Arial
	;

	font-size: 12px;

	transition: opacity 100ms;
	caret-color: @accent;
}

selection {
	background-color: @selection-background;
	color: @selection-color;
}

/* SECTIONS */
@import url("window.css");
@import url("statusbar.css");
@import url("dock.css");
@import url("widgets.css");

@import url("important.css");

