window {
	background-color: @base;
}

window:not(.popup) decoration {
	border: 1px solid darker(@base);
}

headerbar {
	background-color: @base;
	padding-left: 4px;
	min-height: 0;
	border-top: solid 2px @accent;

	transition: border-top-color 100ms;
}

headerbar:drop(active) {
	background-color: @red;
}

window:backdrop headerbar {
	border-top-color: transparent;

	transition: border-top-color 1000ms;
}

window.maximized headerbar,
window.fullscreen headerbar,
window.tiled headerbar {
	border-top: none;
}

headerbar .favicon * {
	color: @accent;
}

headerbar .title {
	color: @text-dark;
}

.titlebutton {
	min-height: 24px;
	min-width: 32px;
	color: @text-dark;
	background-color: transparent;
	border: none;
}

.titlebutton * {
	color: @text-dark;
}

.titlebutton:hover {
	background-color: @selection-background;
}

.titlebutton:hover * {
	color: @selection-color;
}

.titlebutton.close:hover {
	background-color: @error;
}

.titlebutton.maximize:hover {
	background-color: @green;
}

.titlebutton.minimize:hover {
	background-color: @yellow;
}

window.popup {
	background-color: @popup;
	border-radius: 0px;
}

window.popup decoration {
	background-color: @base;
	border-radius: 0px;

	/* box-shadow: 0 0 8px 0 alpha(black, 0.05); */
}
