@import "colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

body {
  background-color: $base;
  color: $foreground;
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
  font-size: 2em;
  font-family: Iosevka Custom, Consolas, "Courier New", monospace;
}

.title {
  margin-top: 1em;
  text-align: center;
  font-size: 3em;
  font-weight: normal;
}

p {
  margin-top: 1em;
}

a {
  color: $accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  margin-top: 1em;
  background-color: $background;
  padding: 1em;
}

code {
  font-size: 14px;
  font-family: Iosevka Custom, Consolas, "Courier New", monospace;
  tab-size: 2;
}

article {
  max-width: min(780px, 100%);
  margin: 0 auto;
  margin-bottom: 75vh;
}
