/* My Theme
@define-color base #0a0f13;

@define-color background #0e141a;

@define-color element #121a22;

@define-color text #c3ced9;
@define-color text-dark #62676d;

@define-color accent #599eff;
@define-color accent-light #79c0ff;
*/

/* Github Theme
@define-color base #010409;

@define-color background #0D1117;

@define-color element #161B22;

@define-color text #c3ced9;
@define-color text-dark #62676d;

@define-color accent #599eff;
@define-color accent-light #79c0ff;
*/

/* Gray Theme */
@define-color base #000;

@define-color background #0f0f0f;
@define-color background-light lighter(@background);

@define-color element #191919;
@define-color element-light lighter(@element);

@define-color text #c3ced9;
@define-color text-dark #8a9199;

@define-color accent #00AAFF;
@define-color accent-light lighter(@accent);

@define-color error #eb4034;
@define-color warn #eb8034;

* {
	color: @text;
	font-family:
		/* Windows */  Segoe UI Semibold,
		/* Lunix */    Ubuntu,
		/* Mac */      Lucida Grande, Helvetica Neue, San Francisco,
		/* Fallback */ Verdana
	;

	font-size: 14px;
}

selection {
	background-color: @accent;
	color: white;
}

window {
	background-color: @base;
}

window.popup {
	background-color: @element;
	padding: 16px;
}

headerbar {
	background-color: #000;
	padding-left: 1rem;
	border-top: solid 2px @accent;
}

stack {
	background-color: @background;
	padding: 1em;
}

button,
checkbutton,
entry,
combobox {
	background-color: @element;
	border: solid 2px @element;
	padding: 0.25rem;
}

button:hover,
checkbutton:hover,
entry:hover,
entry:focus,
combobox:hover {
	border-color: @accent;
}

button:active,
button:checked {
	background-color: @element;
}

check {
	color: @accent;
}

cellview {
	padding: 0.1rem;
}

tab {
	padding: 0 1em;
	color: @text-dark;
	border-top: solid 2px transparent;
}

tab:hover {
	color: @text;
}

tab:checked {
	color: @text;
	background-color: @background;
	border-top: solid 2px @accent;
}