@import url("themes/dracula.css");

* {
	color: @text;
	font-family:
		/* Windows */  Segoe UI Semibold,
		/* Lunix */    Ubuntu,
		/* Mac */      Helvetica Neue Bold, San Francisco Semibold,
		/* Fallback */ Arial
	;

	font-size: 14px;

	transition: opacity 100ms;
}

:disabled {
	opacity: 0.5;
}

selection {
	background-color: @selection-background;
	color: @selection-color;
}

@import url("window.css");
@import url("dock.css");
@import url("widgets.css");
