/* VARIBLES */
@import url("colors.css");
@import url("animations.css");

/* CUSTOM THEME */
@import url("themes/dracula.css");

/* RESET */
@import url("reset.css");

* {
	color: @text;
	font-family:
		/* Windows */  Segoe UI Semibold,
		/* Lunix */    Ubuntu,
		/* Mac */      Helvetica Neue Bold, San Francisco Semibold,
		/* Fallback */ Arial
	;

	font-size: 14px;

	transition: opacity 100ms;
	caret-color: @accent;
}

selection {
	background-color: @selection-background;
	color: @selection-color;
}

/* SECTIONS */
@import url("window.css");
@import url("dock.css");
@import url("widgets.css");
