@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

tooltip {
	background-color: @background;
	border-top: solid 2px @accent;

	animation: 250ms forwards fade-in;
}

menu > * {
	padding: 2px 0;
}

menu > :first-child {
	padding-top: 5px;
}

menu > :last-child {
	padding-bottom: 5px;
}

menu > :hover {
	background-color: @selection-background;
}

menu > :hover label {
	color: @selection-color;
}

button,
checkbutton,
entry {
	padding: 4px;
	background-color: @element;
	border: solid 2px @element;
}

button:hover,
checkbutton:hover,
entry:focus {
	border-color: @accent;
}

button:active,
button:checked {
	background-color: @element;
}

checkbutton check {
	-gtk-icon-transform: scale(0) rotate(-10deg);

	transition: -gtk-icon-transform 50ms;
}

checkbutton:checked check {
	-gtk-icon-transform: scale(1);

	transition: -gtk-icon-transform 250ms cubic-bezier(0, 2, 0.25, 1);
}

check {
	color: @accent;
}

entry {
	padding: 0 4px;
}

entry undershoot.left {
	background-image: -gtk-gradient (
		linear,
		left center,
		right center,
		from (@element),
		to (alpha(@element, 0)));
}

entry undershoot.right {
	background-image: -gtk-gradient (
		linear,
		right center,
		left center,
		from (@element),
		to (alpha(@element, 0)));
}

combobox window.popup cellview {
	padding: 0 4px;
}

combobox window.popup cellview:hover {
	background-color: @accent;
}

combobox window.popup :hover cellview {
	background-color: @selection-background;
	color: @selection-color;
}

popover {
	background-color: @background;
	border: solid 2px @element;
}

/*
separator {
	background-color: @background;
	margin: 4px;
}
*/
