window {
	background-color: @base;
}

window:not(.popup) decoration {
  border: 4px solid alpha(@base, 0.1);

	transition: border-top-color 75ms;
}

headerbar button.titlebutton {
	margin: 0;
	padding: 0.5rem;
	min-height: 32px;
	/* min-width: 32px; */
}

headerbar {
	background-color: @base;
	padding-left: 1rem;
	min-height: 0;

	border-top: solid 2px @accent;
}

window:backdrop headerbar {
	border-top-color: @background;

	transition: border-top-color 1000ms;
}

headerbar * {
	color: @text-dark;
}

headerbar box button {
	background-color: transparent;
	border: none;
}

headerbar button.titlebutton:hover {
	background-color: @selection-background;
}

headerbar button.titlebutton:hover * {
	color: @selection-color;
}

headerbar button.close:hover {
	background-color: @error;
}

window.popup {
	background-color: @popup;
}

window.popup decoration {
	border: none;
	background-color: @base;
	/* box-shadow: 0 0 8px 0 alpha(black, 0.25); */
}
