window {
	background-color: @base;
}

window.popup {
	background-color: @base;
	border: solid 2px @accent;
}

headerbar {
	background-color: @base;
	padding-left: 1rem;
	min-height: 0;
}

window > decoration {
  border: 2px solid @base;
	border-top: solid 2px @accent;
	/* box-shadow: 0 4px 8px 0 alpha(black, 0.25); */
}

window:backdrop decoration {
	border-top-color: @background;
	transition: border-top-color 250ms;
}

headerbar button.titlebutton {
	margin: 0;
	padding: 0.5rem;
	min-height: 32px;
}

headerbar * {
	color: @text-dark;
}

headerbar box button {
	background-color: transparent;
	border: none;
}

headerbar box button:hover {
	background-color: @selection-background;
}

headerbar box button:hover * {
	color: @selection-color;
}

