notebook arrow {
	color: @text-dark;
}

notebook arrow:hover {
	color: @accent;
}

notebook arrow:disabled {
	color: @background;
}

tab {
	padding: 0 12px;
	min-height: 24px;
}

header.top tab {
	border-top: solid 2px transparent;
}

header.bottom tab {
	border-bottom: solid 2px transparent;
}

header.left tab {
	border-left: solid 2px transparent;
}

header.right tab {
	border-right: solid 2px transparent;
}

tab label {
	color: @text-dark;
}

tab:hover label {
	color: @text;
}

header tab:checked {
	background-color: @background;
	border-color: @accent;
}

tab:checked label {
	color: @text;
}

notebook stack {
	background-color: @background;
}

notebook stack {
	padding: 12px;
}

/*
notebook stack > * > undershoot.left {
	background-image: -gtk-gradient (
		linear,
		left center,
		right center,
		from (@background),
		to (alpha(@background, 0)));
}

notebook stack > * > undershoot.right {
	background-image: -gtk-gradient (
		linear,
		right center,
		left center,
		from (@background),
		to (alpha(@background, 0)));
}
*/
