button:not(:link):not(.titlebutton):not(.icon) {
  padding: 0 4px;

  transition: background-color 250ms;
}

button:not(:link):not(.titlebutton):not(.icon) * {
  transition: color 250ms;
}

button:not(:link):not(.titlebutton):not(.icon):active {
  background-color: @accent;

  transition: background-color 0;
}

button:not(:link):not(.titlebutton):not(.icon):active * {
  color: @accent-foreground;

  transition: color 0;
}

/* Why did icons break */
button.icon {
	padding: 2px;
  background: none;
  border: none;
  box-shadow: none;
}

button.icon * {
  transition: -gtk-icon-transform 250ms cubic-bezier(0.35, 1.5, 0.5, 1);
}

button.icon:hover * {
  color: @accent;
}

button.icon:active * {
  -gtk-icon-transform: scale(1.25);

  transition: -gtk-icon-transform 0;
}

button.icon:disabled * {
	color: @element;
}

button:link * {
	text-decoration: none;
}

button:link:hover *, :link:focus * {
	text-decoration: underline;
}

button:link:active * {
	color: @accent;
}
