combobox {
	min-height: 24px;
}

combobox button {
	padding: 4px;
}

combobox window.popup cellview {
	padding: 0 4px;
}

combobox window.popup cellview:hover {
	background-color: @selection-background;
	color: @red;
}

combobox window.popup :hover cellview {
	color: @selection-color;
	background-color: @selection-background;
}
