combobox {
  min-height: 24px;
}

combobox arrow {
  color: @midground;
  -gtk-icon-source: -gtk-icontheme("dropdown_open");
}

combobox button {
  padding: 4px;
}

combobox window.popup cellview {
  padding: 0 4px;
}

combobox window.popup cellview:hover {
  background-color: @accent;
  color: @red;
}

combobox window.popup :hover cellview {
  color: @accent-foreground;
  background-color: @accent;
}
