menu {
  border-radius: 0px;
}

menu separator {
  margin: 3px;
  padding: 0;
  background-color: @background;
}

menuitem {
  padding: 4px 0;
  border-radius: 0px;
}

menuitem > * {
  color: @foreground;
}

menuitem > check {
  color: @accent;
}

menuitem > check:checked {
  -gtk-icon-source: -gtk-icontheme("check");
}

menuitem check,
menuitem arrow {
  margin: 0 4px;
}

menubar > menuitem {
  margin: 4px 0;
  padding: 0 6px;
}

menubar > menuitem > label {
  color: @midground;
}

menuitem:hover {
  background-color: @accent;
}

menuitem:hover > * {
  color: @accent-foreground;
}

menuitem:disabled > * {
  color: @midground;
}

/*
menuitem > check {
	border: solid 1px @element;
	border-radius: 4px;
}
*/
