menu {
	border-radius: 0px;
}

menu separator {
	margin: 3px;
	padding: 0;
	background-color: @background;
}

menuitem {
	padding: 4px 0;
	border-radius: 0px;
}

menuitem > * {
	color: @text;
}

menuitem > check {
	color: @accent;
}

menuitem check,
menuitem arrow {
	margin: 0 4px;
}

menubar > menuitem {
	margin: 4px 0;
	padding: 0 6px;
}

menubar > menuitem > label {
	color: @text-dark;
}

menuitem:hover {
	background-color: @selection-background;
}

menuitem:hover > * {
	color: @selection-color;
}

menuitem:disabled > * {
	color: @text-dark;
}

/*
menuitem > check {
	border: solid 1px @element;
	border-radius: 4px;
}
*/
