notebook header {
  min-height: 24px;
}

notebook > header > tabs > tab {
  min-height: 24px;
  padding: 0 8px;
}

notebook > header.top > tabs > tab {
  border-top: solid 2px transparent;
}
notebook > header.bottom > tabs > tab {
  border-bottom: solid 2px transparent;
}
notebook > header.left > tabs > tab {
  border-left: solid 2px transparent;
}
notebook > header.right > tabs > tab {
  border-right: solid 2px transparent;
}

notebook > header > tabs > tab * {
  color: @midground;
}

notebook > header > tabs > tab:hover * {
  color: @foreground;
}

notebook > header > tabs > tab:checked {
  background-color: @background;
  border-color: @accent;
}

notebook > header > tabs > tab:checked * {
  color: @foreground;
}

notebook > header > tabs > arrow {
  color: @midground;
}

notebook > header > tabs > arrow:hover {
  color: @accent;
}

notebook > header > tabs > arrow:disabled {
  color: @background;
}

notebook > stack {
  padding: 8px;
  background-color: @background;
}

notebook.empty > stack {
  background-color: @base;
  transition: background-color 500ms;
}
