notebook arrow {
	color: @text-dark;
}

notebook arrow:hover {
	color: @accent;
}

notebook arrow:disabled {
	color: @background;
}

notebook header {
	min-height: 26px;
}

notebook > stack {
	padding: 8px;
	background-color: @background;
}

notebook.empty > stack {
	background-color: @base;
	transition: background-color 500ms;
}

notebook > header > tabs > tab {
	padding: 0 8px;
	min-height: 24px;
}

notebook > header.top > tabs > tab { border-top: solid 2px transparent; }
notebook > header.bottom > tabs > tab { border-bottom: solid 2px transparent; }
notebook > header.left > tabs > tab { border-left: solid 2px transparent; }
notebook > header.right > tabs > tab { border-right: solid 2px transparent; }

notebook > header > tabs > tab * {
	color: @text-dark;
}

notebook > header > tabs > tab:hover * {
	color: @text;
}

notebook > header > tabs > tab:checked {
	background-color: @background;
	border-color: @accent;
}

notebook > header > tabs > tab:checked * {
	color: @text;
}

notebook > stack:focus-within {
	background-color: @red;
}
