treeview.view {
	padding: 2px;
	border-color: alpha(@text, 0.1);
}

treeview .expander {
	color: @text-dark;
	-gtk-icon-source: -gtk-icontheme('tree_closed');
}

treeview .expander:checked {
	-gtk-icon-source: -gtk-icontheme('tree_open');
}

treeview .expander:hover {
	color: @text;
}

treeview:hover {
	background-color: @element;
}

treeview:selected {
	color: @selection-color;
	background-color: @selection-background;
	border-color: @selection-color;
}

treeview arrow {
	color: @red;
	background-color: @blue;
}

treeview:drop(active) {
	border: solid 1px @accent;
}

treeview:drop(active).before {
	border: none;
	border-top: solid 1px @accent;
}

treeview:drop(active).after {
	border: none;
	border-bottom: solid 1px @accent;
}
