entry {
	padding-left: 4px;
	padding-right: 4px;
}

entry.warning {
	color: @warning;
	border-color: @warning;
	caret-color: @warning;
}

entry.error {
	color: @error;
	border-color: @error;
	caret-color: @error;
}

entry undershoot.left {
	background-image: -gtk-gradient (
		linear,
		left center,
		right center,
		from (@element),
		to (alpha(@element, 0)));
}

entry undershoot.right {
	background-image: -gtk-gradient (
		linear,
		right center,
		left center,
		from (@element),
		to (alpha(@element, 0)));
}

/*
	FIXME GTK 4 GtkText has a placeholder element,
	why doesn't GTK 3's GtkEntry have one too?
*/
entry placeholder {
	color: @red;
}

entry:drop(active) {
	border-color: @accent;
}
