* {
	border-width: 1px;
	border-color: alpha(@green, 0.5);
	border-style: dotted;
}

:hover, :focus {
	border-color: @red;
}

:hover, :selected {
	border-style: solid;
}

separator {
	border: none;
}
