/* VARIABLES */
@import url("Colors.css");
@import url("Animations.css");

/* CUSTOM THEME */
/* @import url("Themes/THEME.css"); */

/* RESET */
@import url("Reset.css");

* {
	color: @foreground;

	font: 600 12px Inter, Sans;
	caret-color: @accent;

	transition: opacity 100ms;
}

selection {
	background-color: @accent;
	color: @accent-foreground;
}

/* SECTIONS */
@import url("Window.css");
@import url("Statusbar.css");
@import url("Widgets.css");

@import url("Important.css");

/* @import url("Debug.css"); */
